<%- include("partials/header") -%>
  <div class="mt-4 ms-5 me-5">
    <h1>BINE AI VENIT!</h1>
<h4>Fii la curent cu cele mai noi știri din fotbal. I<span style="font-size:21px ;">❤️⚽</span> îți aduce noutăți din fotbalul intern și extern și te ține la curent cu rezultatele și clasamentele din fotbalul românesc și cel străin. Află totul despre fotbalul din Liga 1, Liga 2, campionate de fotbal de afară, noutăți despre fotbaliști, echipe, antrenori, trageri la sorți, grupe, meciuri și goluri memorabile, interviuri și reportaje exclusive din fotbal.</h1>
  </div>


 <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

<% posts.forEach(function(item){  %>

        <a class="titleHref" href="/posts/<%=item.title%>">
        <div class="col">
          <div class="card shadow-sm">
            <img src="<%=item.imgUrl%>">
            <div class="card-body">
              <p class="card-text" style="color:rgb(255, 255, 255) ;"><%=item.title%></p>
              <div class="d-flex mt-3 justify-content-between align-items-center">
                <small class="small"><%=item.blogDate%></small>
              </div>
            </div>
          </div>
        </div>
        </a>

<% }) %>

    </div>
    </div>
  </div>

<%- include("partials/footer") -%>